* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 {
  font-size: 100px;
}

h2 {
  margin-top: 50px;
}

a {
  text-decoration: none;
}

#wave {
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

#wave #base {
  background: rgba(255, 255, 255, 0.085);
  height: 240px
}

#wave #image {
  animation: slide 40s linear infinite;
  background: transparent url("../img/wave.png") repeat-x;
  height: 200px;
  opacity: .085;
}

.main-container {
  background: -webkit-linear-gradient(top, #007BFB, #6610f2);
  color: white;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

.login > a {
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  text-align: center;
  padding: 10px 30px;
  cursor: pointer;
}

.login a:hover {
  color: #007BFB;
  background-color: white;
}

.main-body {
  display: flex;
  align-items: center;
}

@media (max-width: 800px) {
  .main-body {
    flex-direction: column;
  }
}

.main-body-left {
  flex: 0.45;
  display: flex;
  justify-content: flex-end;
  z-index: 999;
}

.main-body-left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
  margin-right: 100px;
}

@media (max-width: 800px) {
  .main-body-left-container {
    padding-bottom: 0;
    margin-right: 0;
  }
}

.logo {
  font-family: 'Righteous', cursive;
  font-size: 50px;
}

.app-stores {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.app-stores > ul {
  text-align: center;
}

.app-stores > ul > li {
  display: inline;
  list-style-type: none;
}

.app-stores > ul > li > a {
  -webkit-border-radius: 3px;
  color: transparent;
  padding-right: 0;
  background-size: 135px 40px;
  border-radius: 3px;
  display: inline-block;
  height: 40px;
  width: 140px;
}

.ios-store {
  background: transparent url("../img/apple.png") no-repeat;
}

.android-store {
  background: transparent url("../img/android.png") no-repeat;
}

.main-body-right {
  flex: 0.55;
  z-index: 999;
}

.phones-container {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

@media (max-width: 800px) {
  .phones-container {
    flex-direction: column;
    align-items: center;
  }
}

.phone-iphone {
  z-index: 20;
}

.phone-pixel {
  display: inline-block;
  margin-left: -45px;
  margin-top: 50px;
}

.phone-pixel > img {
  height: 85%;
}

@media (max-width: 800px) {
  .phone-pixel {
    margin-left: 0;
  }
}

.main-footer {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-footer > ul > li {
  list-style-type: none;
  display: inline;
}

.main-footer > ul > li > a {
  font-weight: bold;
  font-size: 12px;
  color: #007BFB;
}

.copyright {
  margin-top: 20px;
  font-size: 10px;
  font-weight: bold;
  color: gray;
}

.copyright > a {
  color: gray;
}
